@{
}
<div class="card p-0 mt-4">
    <div class="card-header">
        <h6 class="text-lg fw-semibold mb-0">Release Notes</h6>

    </div>
    <div class="d-flex align-items-left">
        <div class="flex-grow-1 d-flex flex-column mt-4">
            @* <span class="text-md mb-0 fw-medium text-primary-light d-block">-- </span> *@
            @* <span class="text-md mb-0 fw-medium text-primary-light d-block">-- </span> *@
            @* <span class="text-md mb-0 fw-medium text-primary-light d-block">-- </span> *@
            @* <span class="text-md mb-0 fw-medium text-primary-light d-block">-- </span> *@
            @* <span class="text-md mb-0 fw-medium text-primary-light d-block">-- </span> *@
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 20-April: Payment Wizzard (WIP) </span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 19-April: Wire quick Link Buttons (Pay Now, Convert, payment Wizzard, recxeive) </span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 19-April: InstantPayment History Details</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 19-April: Dashboard Single Row for CCY balance Cards and Past Payments</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 19-April: Convert History</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 19-April: Convert and Exchange Fixes</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 18-April: Pay Now History</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 17-April: Pay Now</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 17-April: Convert and Exchange</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 15-April: Liquidation Pref/</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 14-April: Default to hide zero balances</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 11-April: Qr Code HTML5 for WKYC</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 01-April: Pay Now fix styling</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 23 Mar: statement for CCY and links from Balances and Dashboard</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 22 Mar: Payment Wizard (WIP) </span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 22 Mar: Navbar Icons, Transations Icons, Footer Fix</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 23 Mar:  Balance ammount Hyperlink to statement for CCY</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 22 Mar:  Balances Icons & Filters for Favoriate CCY and zero Balances</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 17 Mar:  Token Refresh fix.</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 16 Mar:  Past Deals on Dashboard"</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 15 Mar:  Wallet Translations and  Language Seledctor or Login Page"</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 14 Mar:  Dashboard Balances </span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 13 Mar:  Balance alternative responsive  view mode (Cards - No Table</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 11 Mar:  Move Profile and Conact Us to Dropdown under USer in Navbar.</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 09 Mar:  Logout, Password Change</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 08 Mar:  Currency Settings, Balances, Language Dropdown, Profile Picture, Lohin Page</span>
            <span class="text-md mb-0 fw-medium text-primary-light d-block">-- 07 Mar.  Template and setup, .Net 9</span>
        </div>
    </div>

</div>
