@*
    WowDash - ASP.Net Core 8 & Bootstrap Admin Dashboard Multipurpose Template design by Parv Infotech
*@

<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">2025 Winstant Tech. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">Hong Kong <span class="text-primary-600">Parv Infotech</span></p>
        </div>
    </div>
</footer>