<aside class="sidebar">

    <div>
        <a href="~/index" class="sidebar-logo">
            <img src="~/images/logo.png" alt="site logo" class="light-logo">
            <img src="~/images/logo-light.png" alt="site logo" class="dark-logo">
            <img src="~/images/logo-icon.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li>
                <a href="~/Index">
                    <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="~/Withdraw">
                    <iconify-icon icon="ri-wallet-line" class="menu-icon"></iconify-icon>
                    <span>Withdraw</span>
                </a>
            </li>
            <li>
                <a href="~/Deposit">
                    <iconify-icon icon="ri-wallet-line" class="menu-icon"></iconify-icon>
                    <span>Deposit</span>
                </a>
            </li>
            <li>
                <a href="~/PayNow">
                    <iconify-icon icon="ri-secure-payment-line" class="menu-icon"></iconify-icon>
                    <span>Pay Now</span>
                </a>
            </li>
            <li>
                <a href="~/PaymentWizard">
                    <iconify-icon icon="ri-secure-payment-line" class="menu-icon"></iconify-icon>
                    <span>Payment Wizard</span>
                </a>
            </li>
            <li>
                <a href="~/Receive">
                    <iconify-icon icon="ri-download-2-line" class="menu-icon"></iconify-icon>
                    <span>Receive</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="ri-history-line" class="menu-icon"></iconify-icon>
                    <span>History</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="~/History/Pay">
                            <i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Payments
                        </a>
                    </li>
                    <li>
                        <a href="~/History/Convert">
                            <i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Convert
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Balances">
                    <iconify-icon icon="ri-money-dollar-circle-line" class="menu-icon"></iconify-icon>
                    <span>Balances</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="ri-funds-line" class="menu-icon"></iconify-icon>
                    <span>Add Funds</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="~/AddFunds/Bank">
                            <i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Via Bank Account
                        </a>
                    </li>
                    <li>
                        <a href="~/AddFunds/DepositProof">
                            <i class="ri-circle-fill circle-icon text-warning-main w-auto"></i> Upload Deposit Proof
                        </a>
                    </li>
                    <li>
                        <a href="~/AddFunds/History">
                            <i class="ri-circle-fill circle-icon text-warning-main w-auto"></i> Deposit History
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/ConvertAndExchange">
                    <iconify-icon icon="ri-exchange-dollar-line" class="menu-icon"></iconify-icon>
                    <span>Exchange</span>
                </a>
            </li>
            <li>
                <a href="~/ContactUs">
                    <iconify-icon icon="ri-contacts-line" class="menu-icon"></iconify-icon>
                    <span>Contact Us</span>
                </a>
            </li>
        </ul>
    </div>
</aside>