@page
@model Wallet.Pages.WithdrawModel
@{
    ViewData["Title"] = "Withdraw";
}


<div class="card">
    <div class="card-body">
        <p>This is the Withdraw page. The actual functionality will be implemented later.</p>
        <p>The basis is: <a href="https://wallet.winstantpay.com/Withdraw/Index">https://wallet.winstantpay.com/Withdraw/Index</a></p>
    </div>
</div>
