@*
    WowDash - ASP.Net Core 8 & Bootstrap Admin Dashboard Multipurpose Template design by Parv Infotech
*@

<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">

<partial name="~/Pages/Shared/Partials/_Head.cshtml" />

<body>
     @RenderBody()
   
    <partial name="~/Pages/Shared/Partials/_Scripts.cshtml" />
    
    @* Render the script if it exists in ViewData *@
    @if (ViewData.ContainsKey("script"))
    {
        @Html.Raw(ViewData["script"] as string)
    }
</body>

</html>